#wd-people-table table {
    border-collapse: collapse;
    width: 100%;
    border: none; 
  }
  
  
  #wd-people-table th,
  #wd-people-table td {
    border-right: none !important;
    border-left: none !important; 
  }
  
  #wd-people-table tbody tr {
    border-bottom: 1px solid #ddd; 
  }
  
  #wd-people-table thead th {
    border-bottom: 2px solid #000; 
  }
  
  .wd-full-name {
    white-space: normal !important;
  }